---
import Layout from "../layouts/Layout.astro";
import GlassPanel from "../components/GlassPanel.astro";
import AbschnittA from "../sections/homeSections/AbschnittA.astro";
import ContentIntro from "../sections/homeSections/ContentIntro.astro";


// Spielraum für Abstand zwischen Subtitle und Kacheln
const heroGap = "2.5rem";   // 40px
const heroGapMd = "3rem";   // 48px
---

<Layout>
  <GlassPanel
    title="Novena Solutions"
    maxWidth="max-w-none"
    blur="md"
    rounded="rounded-2xl"
    padding="p-10"
    shadow="shadow-2xl"
    align="center"
  >
    <div style={`--hero-gap:${heroGap};--hero-gap-md:${heroGapMd}`} class="mt-[var(--hero-gap)] md:mt-[var(--hero-gap-md)]">
          <ContentIntro />
          <AbschnittA />
        </div>
  </GlassPanel>
</Layout>
